* {
    box-sizing: unset !important;
}

body {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
    scroll-behavior: smooth;
}

.orange{
    background: #FF7A00;
}

.purple{
    background: #9327FF;
}

.light-blue{
    background: #29ABE2;
}

.pink{
    background: #FC71FF;
}
.blue{
    background: #0038FF;
}

.green{
    background: #02CF2F;
}

.light-green{
    background: #1FD7C1;
}

.red{
    background: #AF1616 ;
}
.dark-blue{
    background: #2A3647 ;
}

.main-div {
    background-color: #F5F5F5;;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.head-span {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 114px;
    margin-left: 33px;
}

.title {
    margin-left: 33px;
    margin-top: 19px;
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 30px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 29px;
    flex-shrink: 1;
}

.title-section img {
    width: 40px;
    height: 40px;
}

.search-bar{
    position: relative;
    margin-left: 33px;
    width: 251px;
    height: 41px;
}


.search-input {
    width: 245px;
    height: 37px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}    

.search-icon {
    position: absolute;
    left: 219px;
    transform: translateY(50%);
}

.search-bar-line {
    position: absolute;
    left: 204px;
    margin-top: 6px;
}

.search-input::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #D1D1D1;
    padding-left: 21px;
}

    /*////////////////// Main Content of Cards /////////////////*/

.task-content {
    height: auto;
    margin-left: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 29px;
    flex-wrap: wrap;
    gap: 26px;
}

.task-list {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: 21px;
    height: 25px;
    padding: 2px 0;
    margin-bottom: 22px;
    max-width: 363px;
}


.card-head img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 363px;
    height: auto;
    padding: 18px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-bottom: 22px;
    cursor: pointer;
}

.task-category, .task-title, .task-description, .task-progress, .task-assignedTo {
    margin-left: 21px;
}

.task-category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: fit-content;
    height: 19px;
}

.task-title {
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
}

.task-description {
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
    padding-right: 21px;
}

.task-progress {
    width: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.progress-steps {
    font-weight: 400;
    font-size: 12px;
    margin-left: 20px;
}

.progress {
    --bs-progress-height: 8px !important;
    width: 251px;
}

.task-assignedTo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-icons{
    display: flex;
}

.task-assignedTo img {
    margin-right: 28px;
}
.task-assignedTo span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 13px;
    padding: 10px 8px;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin-right: -6px;
}

.empty-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    background: #D1D1D1;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
}


@media (min-width: 813px) {
    .task-card {
        max-width: 250px;
        height: auto;
    }
}