.contact-frame{
    width: 428px;
}

.new-contact-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 21px;
    padding-top: 17px;
    gap: 10px;
    width: 428px;
}

.new-contact-container {
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 193px;
    height: 53px;
    background: #2A3647;
    border: 1px solid #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.contact-frame {
    width: 428px;
    height: 1085px;

    margin-left: 37, 5px;
    background: #FFFFFF;

}

.contact-frame h2 {
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    margin-top: 48px;
    margin-left: 56px;
}

hr {
    margin-top: 16px;
    margin-left: 28px;
}

.single-contact-frame {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.name-and-email {
    display: flex;
    flex-direction: column;
}

.contact-logo {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 22px;
    font-size: 12px;
    font-weight: 400;
}

.name {
    font-size: 21px;
    font-weight: 400;
    margin-top: 15px;
}

.email {
    color: #007CEE;
    font-size: 16px;
    font-weight: 400;
}

/* ===================== Big Contact ======================= */

.content-big-contact{
    width: 428px;
    
}

.big-contact-frame {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #FFFFFF;
    width: 428px;
}

.big-contact-frame-header {
    margin-top: 34px;
    width: 428px;
}

.h1-back-arrow{
    display: flex;
    justify-content: space-between;
}

.back-arrow{
    margin-right: 34px;
}

.better-with-a-team, .contact-information {
    margin-left: 34px;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 400;
}

.hr-blue-small-left {
    height: 3px;
    width: 90px;
    background-color: #29ABE2;
    border: none;
}

.name-add-task-logo{
    display: flex;
    align-items: center;
}

.name-add-task{
    display: flex;
    flex-direction: column;
}

.contact-logo-big {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 22px;
    font-size: 27px;
    font-weight: 400;
}

.big-name{
    font-size: 36px;
    font-weight: 400;
}

.email-data, .mobile-data {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    margin-left: 34px;
}

.email-head, .mobile-head {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.email-adress-blue, .mobile-number-blue{ 
    color: #007CEE
    ;
}

.delet-edit-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.bin{
    height: 40px;
    width: 40px;
    margin-right: 22px;
    margin-top: 116px;
    cursor: pointer;
}

.pen{
    height: 50px;
    width: 50px;
    margin-right: 22px;
    margin-top: 20px;
    margin-bottom: 48px;
    cursor: pointer;
}

/* ======================== Edit Contact ============================ */

.edit-contact, .add-contact{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  #F5F5F5;;
}

.edit-contact-head{
    height: 364px;
    width: 406px;
    background: #2A3647;
    border-radius: 20px  20px 0 0;
    position: relative;
}

.edit-contact-bottom{
    height: 761px;
    width: 406px;
    background: #FFFFFF;
    position: relative;
}
.close-x{
    margin-top: 21px;
    margin-bottom: 91px;
    margin-left: 356px;
    cursor: pointer;
}

.bigger-logo-frame{
    background: #FFFFFF;
}

.contact-logo-bigger {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, 40%); 
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: 400;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #FFFFFF;
    z-index: 999;
}

form{
    display: flex;
    flex-direction: column;
}

.input-field-top{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 41px;
    margin: 64px 16px 0 16px;
    display: flex;
    justify-content: space-between;
}

.input-field{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 41px;
    margin: 32px 16px 0 16px;
    display: flex;
    justify-content: space-between;
}

.name-input, .email-input, .tel-input{
    border: none;
    margin-top: 6px;
    margin-left: 10px;
    outline: none;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    width: 400px;
}

.input-field img, .input-field-top img {
    margin-right: 10px;
    cursor: pointer;
}

.name-displayed, .email-displayed, .phone-displayed{
    border: none;
    resize: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-size: 21px;
    margin-top: 8px;
    margin-left: 10px;
}

.delete-save{
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.delete{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 13px;
    margin-right: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.save{
    border: none;
    color: #FFFFFF;
    padding: 10px 13px;
    margin-left: 8px;
    border-radius: 10px;
    background: #2A3647;
    cursor: pointer;
}

/* ============================ Add Contact ================= */

.create-contact-container{
    display: flex;
    justify-content: center;
}

.tasks-are-better{
    margin-left: 34px;
    font-size: 21px;
    font-weight: 400;
}

.contact-logo-template {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, 20%); 
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #FFFFFF;
    z-index: 999;
}

.big-head{
    margin-bottom: 16px;
}

.create-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    height: 41px;
    background: #2A3647;
    border-radius: 10px;
    margin-top: 56px;
    cursor: pointer;
}

.check-white{
    width: 19.5px;
    height: 19.5px;
    margin-right: 8px;
}

.create-contact-text {
    margin-left: 8px;
}