@media(min-width: 430px){

    .contact-logo-big{
        height: 80px;
        width: 80px;
    }

    .edit-contact-frame{
        max-width: 430px;
    }
}

@media(min-width: 768px){

    .desktop-page{
        flex-direction: row !important;
        justify-content: center;
    }

    .content-big-contact{
        width: 52%;
        margin-top: 5px;
        box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1);
    }

    .contact-frame{
        max-width:18%;
    }

    .hr-blue-small-left{
        height: 59px;
        width: 3px;
        background-color: #29ABE2;
        border: none;
    }

    .edit-pen{
        display: flex !important;
        flex-direction: column;
        height: 16px;
        width: 8px;
    }

    .bin, .pen, .kpmt, .back-arrow{
        display: none;
    }

    .new-contact-container{
        display: none;
    }

    .new-contact-container-2{
        display: flex !important;
        position: relative;
        bottom: -96px;
        right: -300px;
    } 

    .big-contact-frame{
        margin-top: 40px;

    }

    .big-contact-frame-header{
        flex-direction: row !important;
    }

    .order1{
        order: 1;
    }
    
    .order2{
        order: 2;
    }
    .order3{
        margin-top: 16px;
        order: 3;
    }

}