@font-face {
    font-family: Inter;
    src: url(./asssets/fonts/Inter-Regular.ttf);
}

body {
    margin: 0;
    font-family: Inter;
}

.content {
    width: 100%;
    max-width: 1024px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F7F8;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
}