@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Regular.ttf);
}


* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;

}

header {
    display: flex;
    justify-content: flex-start;
    width: 372px;
    flex-direction: column;
}

header img {
    width: 64px;
    height: 78.03px;
    margin-left: 38px;
    padding-top: 37px;
}

.inside-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    position: absolute;
    max-width: 372px;
    height: 573px;
    top: 194px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 100%;
}

h1 {
    width: 315px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.e-mail,
.password,
.name {
    height: 25px;
    background: #FFFFFF;
    border: none;
    margin: 8px 0px;
    margin-left: 8px;
    font-size: 21px;
    font-weight: 400;
    color: black;
    margin-right: 0;
    outline: none;
    cursor: pointer;

}

.e-mail::placeholder,
.password::placeholder,
.name::placeholder {
    color: #d1d1d1c4;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin: 49px 0px;
    height: 41px;
    margin-bottom: 24px;
    margin-right: 20.5px;
    margin-left: 20.5px;
}

.input-field img {
    z-index: 99;
    background-color: white;
}

.person-img {
    height: 19px;
    width: 21px;
}

.wrong-password {
    color: red;
    font-size: 13px;
    margin-top: -10px;
    padding-bottom: 8px;
    margin: 0 22.5px;
}

.forgot {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29ABE2;
    margin: 0 22.5px;
}

.checkbox-container {
    display: flex;
    padding-top: 32.5px;
    padding-bottom: 35px;
    align-items: center;
    margin: 0 22.5px;
}

.checkbox-container label {
    padding-left: 20px;
}

.checkbox-container input {
    cursor: pointer;
}

.btn-container {
    gap: 33px;
}

.login-btn-container,
.guest-btn-container{
    display: flex;
    justify-content: center;
}

.forgot-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.login-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background: #2A3647;
    color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    width: 180px;
    height: 51px;
    cursor: pointer;
}

.guest-btn {
    background: #FFFFFF;
    color: #2A3647;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    gap: 10px;
    width: 180px;
    height: 51px;
    border-radius: 8px;
    cursor: pointer;
}

.fortgot-password-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background: #2A3647;
    color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    width: 180px;
    height: 51px;
    cursor: pointer;
    gap: 10px;
}

.forgot-password-text{
    font-size: 21px;
    text-align: center;
    font-weight: 400;
}

.forgot-password-headline{
    font-size: 40px;
    padding-bottom: 29px;
    margin-top: -27px;
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 330px;
    height: 926px;
    background: #F6F7F8;
}

form {
    margin-top: -55px;
    width: 100%;
}

.password-icon {
    color: lightgray;
    cursor: pointer;
    padding-top: 5px;
}

.sign-up-container {
    height: 100px;
    background-color: #F6F7F8;
    width: 372px;
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: baseline;

}

.sign-up-container span {
    font-size: 21px;
    font-weight: 400;
}

.sign-up-container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    width: 96px;
    height: 51px;
    color: white;
    background: #2A3647;
    border-radius: 8px;
    cursor: pointer;
}

.outer-container {
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
}

#checkmark-container {
    cursor: pointer;
}

.arrow-container {
    max-width: 372px;
    width: 100%;
    margin-top: -7px;
}

.arrow-container a {
    margin-left: 33px;
    cursor: pointer;
}

.arrow-container a img {
    cursor: pointer;
}

.sign-in-headline {
    margin-top: -48px
}

.sign-in-container {
    height: 501px;
}

.sign-up-btn {
    margin-top: 20px;
}

.line {
    margin-top: -12px;
    margin-bottom: -6px;
}