@font-face{
  font-family: Inter;
  src: url(asssets/fonts/Inter-Regular.ttf);
}

body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 47px;
   font-weight: 700;
    color: #000000
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 10px;
  z-index: 10;
}

footer {
  background-color: #2A3647;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.small-logo {
  width: 32px;
  height: 39px;
  margin-left: 25px;
  margin-top:20px;
  margin-bottom:20px;
}



#create-button {
  width: 124px;
height: 51px;
color: #FFFFFF;
background: #2A3647;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 120%;
margin-top: 14px;
margin-bottom: 14px;
margin-right: 25px;
border: none;
}

.wrapper {
  margin-top: 114px;
  margin-left: 31px;
  margin-right: 34px;
}

.wrapper p {
  font-weight: bold;
}

.wrapper div {
  display: flex;
}

.mg-35 {
  margin-right: 35px;
}
