
@font-face{
    font-family: Inter;
    src: url(./asssets/fonts/Inter-Regular.ttf);
}


*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Inter, sans-serif !important;
    display: flex;
    justify-content: center;
}

h1{
    margin-left: 33px;
    margin-top: 20px;
    font-size: 47px;
    font-weight: 700;
}

a{
text-decoration: none;
color: black;
}

.d-none{
    display: none !important;
}


/* ========================= Colors =================== */

.orange{
    background: #FF7A00;
}

.light-orange{
    background: #FFC700;
}


.purple{
    background: #9327FF;
}

.light-blue{
    background: #29ABE2;
}

.pink{
    background: #FC71FF;
}

.green{
    background: #02CF2F;
}

.red{
    background: #AF1616;
}

.gray{
    background: #D1D1D1;
}

.white{
    color: #FFFFFF;
}