@font-face{
    font-family: Inter;
    src: url(asssets/fonts/Inter-Regular.ttf);
}

.orange{
    background: #FF7A00;
}

.purple{
    background: #9327FF;
}

.light-blue{
    background: #29ABE2;
}

.pink{
    background: #FC71FF;
}
.blue{
    background: #0038FF;
}

.green{
    background: #02CF2F;
}

.light-green{
    background: #1FD7C1;
}

.red{
    background: #AF1616 ;
}
.dark-blue{
    background: #2A3647 ;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter';
}

.main-content {
    width: 84%;
    height: auto;
    margin-left: 33px;
    margin-right: 32px;
    margin-top: 33px;
}

        /*///////////// form Section /////////////*/

.input-field {
    width: 100%;
    max-width: 422px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    text-indent: 21px;
    margin-right: 23px;
}

.input-lable {
    display: block;
    margin-top: 33px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    margin-right: 33px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: hidden;
    opacity: 0;
    width: 30px;
    height: 30px;
}

input[type="date"]::before {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    background: url(http://127.0.0.1:5500/add_task_img/calender-icon.svg);
    background-size: contain;
}

input[type="date" i] {
    font-family: 'Inter';
    text-indent: 9px;
}

.input-field::placeholder {
    text-indent: 21px;
}

        /*///////////// Prio Section /////////////*/

.edit-prio-section{
    margin-top: 23px;
}

.edit-prio-title {
    font-weight: 400;
    font-size: 21px;
    
}

.prio-type {
    font-weight: 400;
    font-size: 16px;
    margin-right: 10px;
}

.prio-btns {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.edit-prio-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    width: 111px;
    height: 41px;
    border: none;
}

        /*///////////// Select Section /////////////*/

.select-one {
    background-color: #fff;
    height: 19px;
    max-width: 422px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: 125ms;
    border: 1px solid #D1D1D1;
    text-indent: 21px;
}

.selected {
    background-color: #fff;
    height: 19px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
}

.selected span{
    margin-left: 10px;
}

.selected:hover {
    background-color: #d1d1d1;
}

#dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#dropdown:not(.d-none) {
  max-height: 200px;
}

#selected-one {
    border: 1px solid #D1D1D1;
    border-top: none;
    border-bottom: none;
}

#selected-two {
    width: 100%;
    border: 1px solid #D1D1D1;
    border-top: none;
    border-bottom: none;
    
}
#selected-three {
    border: 1px solid #D1D1D1;
    border-top: none; 
}

 /* ... Assigned-to ... */

/* Checkbox-Stil */
.checkbox-style {
    width: 15px;
    margin-right: 10px;
}

.checkbox-subtask {
    width: 15px;
}

/* Icon-Stil */
.icon-style {
    margin-left: auto;
    margin-right: 10px;
    height: 16px;
    width: 16px;
}

.select-one img {
    width: 16px;
    margin-right: 10px;
}

/* Stil für das neue Dropdown-Menü */
#dropdown-assign {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#dropdown-assign:not(.d-none) {
    max-height: 200px;
    text-indent: 13px;  
}

#assigned-one {
    border: 1px solid #D1D1D1;
    border-top: none;
    border-bottom: none;
    max-width: 422px;
}

#assigned-two {
    border: 1px solid #D1D1D1;
    border-top: none;
    border-bottom: none;
    max-width: 422px;
}

#assigned-three {
    border: 1px solid #D1D1D1;
    border-top: none;
    max-width: 422px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.subtask {
    display: flex;
    align-items: center;
}

.subtask-name {
    margin: 0;
}

/* <!-- Selected contacts Section --> */

.selected-all {
    margin-top: 9px;
    display: flex;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    width: 43px;
    height: 43px;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    margin-right: 8px;
}

.edit-prio-doneBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 77px;
    height: 40px;
    top: 103px;
    left: 80%;
    background: #2A3647;
    border-radius: 10px;
    color: white;
}

.edit-prio-doneBTN span {
    font-weight: 700 !important;
    font-size: 21px !important;
}

