@font-face {
    font-family: Inter;
    src: url(/asssets/fonts/Inter-Regular.ttf);
}

body {
    margin: 0;
    font-family: Inter;
}

.nav-bar-container {
    width: 232px;
    background-color: #2A3647;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

nav {
    color: #CDCDCD;
    height: 100vh;
    padding-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-link-container div {
    cursor: pointer;
}

nav div div {
    display: flex;
    align-items: center;
    gap: 22px;

}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-white {
    padding-top: 66px;
    height: 122px;
    width: 100px;
}

.legal-container {
    padding-bottom: 125px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link-container {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 35px;
}

.web-header {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    min-width: 790px;
    padding-left: 232px;
    background: #FFFFFF;
}

.web-header span {
    font-size: 21px;
    padding-left: 116px;
}

.img-container {
    display: flex;
    align-items: center;
}

.person {
    border: 2px solid #2A3647;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    padding: 1px;
    margin-right: 25px;
    cursor: pointer;
}

.logo {
    height: 40px;
    padding-left: 25px;
}

.question-icon {
    height: 31px;
    width: 31px;
    margin-right: 26px;
    cursor: pointer;
}

.width {
    background-color: #F5F5F5;
    box-shadow: none;
    max-width: 100%;
}

@media (max-width:1024px) {
    .nav-bar-container,
    .web-header {
        display: none;
    }
}

@media (min-width:1024px) {
    header {
        display: none;
    }
}